@keyframes driving {
    0% {
        left: -50px;
        transform: scaleX(1)
    }
    50% {
        left: 101%;
        transform: scaleX(1)
    }
    51% {
        left: 101%;
        transform: scaleX(-1)
    }
    100% {
        left: -50px;
        transform: scaleX(-1)
    }
}

@-webkit-keyframes drive {
    0% {
        left: -50px;
        transform: scaleX(1)
    }
    50% {
        left: 101%;
        transform: scaleX(1)
    }
    51% {
        left: 101%;
        transform: scaleX(-1)
    }
    100% {
        left: -50px;
        transform: scaleX(-1)
    }
}

.mars_rover {
    animation-name: driving;
    animation-duration: 30s;
}