name: "3 parties: Update Packagist"
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 1 * *'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13' 
      - name: Install dependencies
        run: cd ${GITHUB_WORKSPACE}/python/3parties/packagist &&  pip install -r requirements.txt
      - name: Fetch packages
        run: cd ${GITHUB_WORKSPACE}/python/3parties/packagist && python main.py
      - uses: stefanzweifel/git-auto-commit-action@v7.0.0
        with:
          commit_message: "3 parties: Update packagist list"