name: "Highlighted timeline"
on:
  workflow_dispatch:
  push:
    paths:
      - 'public/rest/en/timeline.json'
      - 'public/rest/nl/timeline.json'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13' 
      - name: Update highlighted timeline list
        run: cd ${GITHUB_WORKSPACE}/python/highlighted-timeline && python main.py
      - uses: stefanzweifel/git-auto-commit-action@v7.0.0
        with:
          commit_message: "Update highlighted timeline list"