name: "Highlighted projects"
on:
  workflow_dispatch:
  push:
    paths:
      - 'public/rest/en/projects.json'
      - 'public/rest/nl/projects.json'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13' 
      - name: Update highlighted projects list
        run: cd ${GITHUB_WORKSPACE}/python/highlighted-projects && python main.py
      - uses: stefanzweifel/git-auto-commit-action@v6.0.1
        with:
          commit_message: "Update highlighted projects list"